body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #203954;
    font-size: 18px;
    background-color: #99ded4;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    background-color: #21837b;
    padding: 10px;
}

.form {
    width: 300px;
    padding: 10px;
}



